.about {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  @media (max-width: 1024px) {
    display: block;
  }
}

.about__image {
  grid-column: 8/-1;
  width: 100%;
}

.about__content {
  grid-row: 1;
  grid-column: 1/7;
  margin-top: 50px;
}


