.article {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-gap: 2em 2em;
  grid-row:2;
  grid-column: 3/12;
  font-size: calc(16px + .2vw);
  font-weight: normal;
  min-height: 50vh;
  @media (max-width: 1024px){
    padding: 0 1em;
    margin-top: auto;
  }
}
.article__meta {
  grid-row: 1;
  grid-column: 1/4;
  color: #333;
  font-size: .8em;
  @media (min-width: 1024px){
    border-bottom: 1px solid #ddd;
  }
}
.article__header {
    grid-row: 2;
    grid-column: 1/10;
    position: relative;
}

.article__content {
  grid-row: 3;
  grid-column: 1/10;
}

.article__content img {
  max-width: 100%;
  height: auto;
}

.article__content a, .article__author a {
  color: $light_blue;
}
.article__content p {
  margin: 1em 0;
}

.article__content img {
  width: 100%;
  height: auto;
}
.articles-list {
    list-style: none;
    grid-column: 3 / 10;
    grid-row: 2 / auto;
    padding: 0px 1em;
}

.articles-list ul {
  list-style: none;
}

.articles-list li {
    margin-bottom: 4em;
}
.articles-list li a {
    text-decoration: none;
}
.post a {
  color: black;
}
.post a:hover {
  color: $light_blue; 
}
.post__title {
    font-size: 2em;
    line-height: 1.4;
    font-family: $font_family_heading;
    font-weight: 600;
    border-width: 0.1em;
}
.post__meta {
  color: rgb(51, 51, 51);
  font-size: 0.8em;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
}
.pagination {
  display: inline-block;
}

.pagination:hover {
  background: #f5ad8b;
  color: #000;
}
.nextPost {
  float: right;
}
.article__newsletter {
  grid-row: 4;
  grid-column: 1/10;
  border-top: 1px solid #dbe3e7;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  padding: 1em !important;
}
.article__author {
  grid-row: 5;
  grid-column: 1/10;
  border-top: 1px solid #dbe3e7;
  padding: 30px 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  @media (min-width: 767px){
    flex-direction: row;
  }
  position: relative;
}
.person__avatar {
  position: relative;
  flex-basis: 175px;
  margin-right: 50px;
  @media (max-width: 767px){
    margin-right: 0;
  }
}

.person__avatar img {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  max-width:175px;
}

.person__name {
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bold;
  @media (max-width: 767px){
    text-align: center;
    width: 100%;
  }
}

.person__description {
  line-height: 1.5;
  margin: 1em 0;
}
