.main-header {
	padding: 1.5em 0 .5em;
	font-size: 16px;
  background: rgba(255,255,255,.8);
  @media (min-width: 1024px) {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
  }
  @media (min-width: 950px) {
    grid-row: 1;
		grid-column: 1/13;
  }
}
.skip-link {
	position: fixed;
	top: -30em;
	left: 0;
	right: 0;
	z-index: 20;
	background: #307fdc;
	color: $white;
	padding: .5em 1em;
	font-size: 1em;
	text-align: center;
	font-weight: 700;
	transition: top .1s linear;
}
.logo {
	display: inline-block;
	margin: 0;
}
.main-nav {
	letter-spacing: 1px;
	text-transform: uppercase;
	grid-column: 3/12;
	overflow: hidden;
	border-bottom: 1px solid #03B9BC;
	background: inherit;
}
.menu-trigger {
	display: none;
	background: 0 0;
	outline: 0;
	font-size: 1em;
	cursor: pointer;
	line-height: 1.3;
	background: HSLA(334,100%,46%,1);
	color: $skin;
	border-radius: 5px;
	border: none;
	font-family: $font_family_text;
	font-weight: 400;
}
.main-nav__list {
	list-style: none;
	float: right;
	padding: 0;
	margin: 0;
}
.main-nav__item {
	margin: 0;
	padding: 0;
	position: relative;
	transition: background-color .2s ease-out;
	font-size: .75em;
	a {
		display: block;
		font-weight: 400;
		text-decoration: none;
		width: 100%;
		height: 100%;
		padding: 1em 1.5em;
		transition: all .15s linear;
		border: none;
		color: inherit;
		transition: color .2s linear;
		&:hover {
			border: none;
		}
	}
	&:hover {
		background: #f5ad8b;
		color: $black;
	}
}
.main-nav__item.current {
	background: #f5ad8b;
	color: $black;
	a {
		&:hover {
			background: #f5ad8b;
			color: $black;
		}
	}
}