.links-footer {
  border-top: 1px solid #03B9BC;
  grid-column: 2/12;
  display: grid;
  grid-template-columns: 1fr;
  padding: 4em 0;
  font-size: calc(16px + .2vw);
  @media (min-width: 640px) {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
  @media (max-width: 1024px){
    padding: 0 1em;
  }
}

.links-footer li a {
  display: block;
  width: 100%;
  border-bottom: 1px dotted;
  text-decoration: none;
}

.links-footer ul {
  list-style: none;
}
