.links-footer {
   grid-column: 2/12;
   display: grid;
   grid-template-columns: 1fr;
   @media (min-width: 640px) {
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   }
}
.links-footer li a {
    display: block;
    width: 100%;
    border-bottom: 1px dotted;
    text-decoration: none;
}

.links-footer ul {
  list-style: none;
}
