* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: Aaargh,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #111;
  font-size: calc(14px + .25vw);
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}
.main-header {
  padding: 1.5em 0 .5em;
  font-size: 16px;
  background: rgba(255,255,255,.8);
}
.skip-link {
  position: fixed;
  top: -30em;
  left: 0;
  right: 0;
  z-index: 20;
  background: #307fdc;
  color: #fff;
  padding: .5em 1em;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  transition: top .1s linear;
}
.logo {
  display: inline-block;
  margin: 0;
}
.main-nav {
  letter-spacing: 1px;
  text-transform: uppercase;
  grid-column: 3/12;
  overflow: hidden;
  border-bottom: 1px solid #03B9BC;
  background: inherit;
}
.menu-trigger {
  display: none;
  background: 0 0;
  outline: 0;
  font-size: 1em;
  cursor: pointer;
  line-height: 1.3;
  background: HSLA(334,100%,46%,1);
  color: #eee;
  border-radius: 5px;
  border: none;
  font-family: Quicksand,Arial,sans-serif;
  font-weight: 400;
}
.main-nav__list {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
}
.main-nav__item {
  margin: 0;
  padding: 0;
  position: relative;
  transition: background-color .2s ease-out;
  font-size: .75em;
}
.main-nav__item a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  transition: all .15s linear;
  border: none;
  color: inherit;
  transition: color .2s linear;
}
::-moz-selection {
  background: #f5ad8b
}

::selection {
  background: #f5ad8b
}
@media (min-width: 950px) {
  body.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5em 2em;
  }
  .main-header {
    grid-row: 1;
    grid-column: 1/13;
  }
  .main-content {
    grid-column: 2/8;
    grid-row: 2;
}
}

@media (min-width: 1024px) {
  .main-header {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .logo {
    grid-column: 2/3;
  }
  .main-nav__list {
    display: flex;
  }
}

@font-face {
  font-family: 'Noble';
  src: url('./fonts/Nobile-Bold.ttf');
}
@font-face {
  font-family: 'Aaargh';
  src: url('./fonts/Aaargh.ttf');
}